{% extends 'base.html' %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {% include 'snippets/styles.html' with blog=blog %}
{% endblock %}

{% block nav %}
<a href="/dashboard/">Back</a>
{% endblock %}

{% block content %}
<h1 class="title">Delete account</h1>
<form action="" method="post">{% csrf_token %}
    <p>Deleting the admin account is not supported in this personal CMS. To remove the site, delete the blog in settings.</p>
</form>
{% endblock %}
