<p style="margin-top: -16px; width: 100%; text-align: left; ">
    <a
        href="{{ blog.useful_domain }}"
        target="_blank"
        style="font-weight: 400; font-size: 14px; color: inherit; width: fit-content"
    >
        {{ blog.blank_useful_domain }} 
    </a>
</p>

<span>
    <a href="{% url 'dashboard' %}">Home</a>
    {% if blog %}
    <a href="{% url 'nav' %}">Nav</a>
    <a href="{% url 'posts_edit' %}">Posts</a>
    <a href="{% url 'pages_edit' %}">Pages</a>
    <a href="{% url 'styles' %}">Themes</a>
    <a href="{% url 'email_list' %}">Emails</a>
    {% endif %}
    <!-- Upgrade removed for personal CMS -->
</span>

<span>
    {% if blog.analytics_active %}
    <a href="{% url 'analytics' %}">Analytics</a>
    {% endif %}
    <a href="{% url 'settings' %}">Settings</a>
    <a href="{% url 'account' %}" class="account bear"></a>
</span>

{% if not blog.reviewed and not blog.to_review and blog.posts.count > 0 %}
<p class="notification">
    <small>
    🐼 Your blog is currently hidden from search engines and the
    <a href="https://bearblog.dev/discover/" target="_blank">discover feed</a>.

    {% if blog.is_after_cutoff %}
        Upgrade to get discovered.
    {% else %}
        <a href="{% url 'opt_in_review' %}">Submit your blog for review</a>.
    {% endif %}
    </small>
</p>
{% endif %}